body {
  background-color: #1B252E;
}

.App {
  padding: 0px;
  font-family: sans-serif;
  font-size: x-large;
  line-height: 1.5;
}

.welcome {
  color: rgb(243, 248, 253);
  text-align: center;
  max-width: 30em;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.welcome-body {
  padding-top: 1em;
}

.welcome a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer {
  font-size: large;
}

.droparino {
  display: table;
  height: 10em;
  width: 80%;
  margin: auto;
  border: 0.3em ridge #B1DDF0;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.droparino p {
  display: table-cell;
  vertical-align: middle;
}

.header {
  text-align: right;
}

.title {
  display: inline-block;
}

.title h1 {
  margin: 0px;
  padding-bottom: 0px;
  padding-left: 0.5em;
}

.subtitle {
  margin-top: 0px;
  text-align: right;
  font-size: large;
}

.logo {
  display: inline-block;
  z-index: -1;
  overflow: hidden;
  background-image: linear-gradient(#31435400, #31435400), url("taveira.io.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  margin-top: 1em;
}

#editor-content {
  padding: 0px;
}

.rotating {
  animation: rotating-function 60s linear infinite;
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
